.error {
  display: block;
  color: red;
}
form {
  width: 400px;
  margin: 50px auto;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.success {
  display: block;
  color: green;
}
button[type="submit"] {
  background-color: #0077ff;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
input[type="email"]:invalid,
input[type="password"]:invalid,
input[type="tel"]:invalid {
  border-color: rgb(255, 0, 123);
}

input[type="email"]:valid,
input[type="password"]:valid,
input[type="tel"]:valid {
  border-color: rgb(89, 58, 167);
}
